/* Inserta tu codigo que es común para todas las páginas aqui */


body{
    font-family:Montserrat:400,700';
    margin:0px;
    padding: 0px;
}

h1{
    text-align: center;
    color:  midnightblue;
}
.list-menu{
    list-style: none;
    text-align: center;
}
.list-menu li{
    display: inline-block;
    
}
.list-menu a{
 margin-left: 50px;

}



.boton button{
 background: midnightblue;
 color: white;
 padding:20px 80px; 
 font-size: 20px;
 border-radius: 7px;
}

.contact-section {
    background-image: url(../img/shoes_!.jpg);
    background-position: right;
    width:90%;
    background-repeat: no-repeat;
    height: 600px;
}
.contact-form {
    padding-left: 10px;
    margin-top: 50px;
}
.contact-section h1 {
    margin-top: 50px;
    color: #192951;
    font-weight: bold;
}
.input-contact {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid gray;
    padding: 5px;
    padding-left: 45px;
}
.input-mensaje {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    border: 1px solid gray;
    padding: 5px;
    padding-left: 45px;
    padding-top: 5px;

}
.button-submit {
    background-color: #192951;
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    transition: all 0.8s ease;
}
.button-submit:hover {
    background-color: white ;
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    color: #192951;
    text-transform: uppercase;
    transition: all 0.8s ease;
}
/*footer*/
footer{
    background-color: #192951;
    height: 100px;
}

footer p {
	padding-top: 50px;
	color: white;
}

