/* Inserta tu codigo que es común para todas las páginas aqui */


body{
    font-family:Montserrat:400,700';
    margin:0px;
    padding: 0px;
}

h1{
    text-align: center;
    color:  midnightblue;
}
.list-menu{
    list-style: none;
    text-align: center;
}
.list-menu li{
    display: inline-block;
    
}
.list-menu a{
 margin-left: 50px;

}



.boton button{
 background: midnightblue;
 color: white;
 padding:20px 80px; 
 font-size: 20px;
 border-radius: 7px;
}

